section .nabvbar{
    background: linear-gradient(#151718 #160DC3);
}




section .navbar-brand{
    font-family: 'Poppins', sans-serif;

font-family: 'Rubik', sans-serif;
font-family: 'Kaushan Script', cursive;
font-weight: bold;

}
section .s1{
    font-family: 'Poppins', sans-serif;

    font-family: 'Rubik', sans-serif;
    font-family: 'Kaushan Script', cursive;
}

